{% extends 'base.html' %}

{% block title %}Start a New Topic{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
<li class="breadcrumb-item"><a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a></li>
<li class="breadcrumb-item active">New Topic</li>
{% endblock %}

{% block content %}
<form method="post" novalidate>  <!--novalidate表示不在浏览器进行预验证-->
    {% csrf_token %}  <!-- token认证 -->
    {% include 'include/form.html' %}
    <button type="submit" class="btn btn-success">Submit</button>
</form>
{% endblock %}